.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.5);
}

.card-img-top{
    width: 230px;
    height: 200px;
}

.card-body{
    height: 455px;
    width: 230px;
}
.card{
    height: 455px;
    width: 230px;
}
.container-fluid{
    padding-bottom: 81px;
}


.btn-primary{
    background-color: rgb(180, 210, 212);
    border-color: rgb(180, 210, 212);
}
.btn-primary:hover{
    background-color: darkgrey;
    border-color:darkgrey;
}


.accordion-item{
    background-color: rgb(180, 210, 212);

}
.accordion-button:not(.collapsed) {
    background-color: rgb(180, 210, 212);
    color: black;

}
.accordion-button:focus {
    background-color: rgb(180, 210, 212);
    border-color: rgb(180, 210, 212);
    color: black;
    box-shadow: none;

}
.accordion-body{
    background-color: rgb(180, 210, 212);
}
.accordion-button{
    background-color: rgb(180, 210, 212);
}